/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   
    min-height: 100vh;
    width: 100vw;
}


/* .navbar {
    border-bottom: 2px solid #007bff;
} */
.nav-link {
    color: #007bff;
}
.nav-link:hover {
    color: #0056b3;
}


.container {
    background: white;
    margin-top:50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:min(600px,90%);
   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #6c757d;
}

.d-flex select{
    width: 30%;
}


@media screen and (max-width: 700px){
    .d-flex{
   
        display: flex;
        flex-direction: column;
    }
    .d-flex select{
        width: 90%;
    }
}